<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">About</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead">Welcome to CookBook, your ultimate culinary destination for discovering delectable recipes that will tantalize your taste buds and elevate your cooking game. Our passion for food and a love for sharing our kitchen adventures led us to create this virtual cookbook, where we invite you to embark on a mouthwatering journey through a world of flavors.</p>
      <p class="lead">This website was built by Adarsh, Aditya, Deeksha from NMIT, Bangalore for Web Technology Lab project</p>
      <p class="lead">Images used in this project are AI generated using MidJourney</p>
    </div>
  </div>